
html {
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
  height: 100%;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  color: @black;
}

.text-gray {
  color: @gray;
}