
html {
  font-size: 3.75vw;
  height: 100%;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
  min-height: 100%;
  color: @text;
  font-size: 1rem;
  line-height: 1.5;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  color: @black;
}

.text-gray {
  color: @gray;
}