
// color
@black: #24292e;
@text: #586069;
@gray: #969696;
@border: #eee;

// font
@xs-f: 0.8rem;
@s-f: 1rem;
@m-f: 1.3rem;
@l-f: 1.6rem;
@xl-f: 2rem;

// gap
@xs-l: 5px;
@s-l: 10px;
@m-l: 15px;
@l-l: 20px;
@xl-l: 25px;
@xxl-l: 30px;



