@import './base';

.iconfont {
  font-size: 1.3rem;
}

.blog-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .blog-main {
    min-height: calc(100% - 166px);
  }
}